body {
  padding: 20px;
  background-color: #cbbcb1;
}

.card {
  width: 60px;
  height: 100px;
  border: 2px solid #FFF;
  background-color: #FFF;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .card__info:first-child {
    justify-content: normal;
  }
  .card__info:last-child {
    text-align: right;
  }
}

.card--selectable {
  &:hover {
    cursor: pointer;
    border: 2px solid #433d3c;
  }
}

.card__info__content {
  display: block;
  font-size: 16px;
}

.hand {
  display: flex;
}

.hand .card {
  margin-right: 10px;
}

.hand .card.selected {
  margin-top: -40px;
}

.floating {
  position: fixed;
  top: 80px;
  left: 80px;
}

.button {
  border: 0px;
  background-color: #ff4646;
  color: #FFFFFF;
  border-radius: 8px;
  padding: 12px 20px;
  outline: 0;
  &:hover {
    cursor: pointer;
  }
}

.last-played {
  position: fixed;
  width: 300px;
  right: 0;
}