body {
  padding: 20px;
  background-color: #cbbcb1;
}

.card {
  width: 60px;
  height: 100px;
  border: 2px solid #FFF;
  background-color: #FFF;
  border-radius: 4px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .card__info:first-child {
    justify-content: normal;
  }
  .card__info:last-child {
    text-align: right;
  }
}

.card--selectable {
  &:hover {
    cursor: pointer;
    border: 2px solid #999b84;
  }
}

.card__info__content {
  display: block;
  font-size: 16px;
}

.hand {
  display: flex;
}

.hand .card {
  margin-right: 10px;
}

.hand .card.selected {
  margin-top: -40px;
}

.floating {
  position: fixed;
  top: 80px;
  left: 80px;
}

.button {
  border: 0px;
  background-color: #045762;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 12px 20px;
  outline: 0;
  &:hover {
    cursor: pointer;
  }
}

.button--subtle {
  background-color: #4e8d7c;
  color: #FFFFFF;
}

.last-played {
  position: fixed;
  width: 300px;
  right: 0;
}

/* Spacing */
.space--s--r {
  margin-right: 12px;
}

.space--s--b {
  margin-bottom: 12px;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 12px;
  margin-top: 24px;
}